.react-condition-spelling .rcs-box > * {
  box-sizing: border-box;
  height: calc(1.2rem + 4px);
  padding: 0 0.5rem;
  vertical-align: middle;
}

.react-condition-spelling .rcs-box .rcs-box-door,
.react-condition-spelling .rcs-box .rcs-box-parenthese {
  width: 10%;
}

.react-condition-spelling .rcs-box .rcs-box-field,
.react-condition-spelling .rcs-box .rcs-box-symbol {
  width: 20%;
}

.react-condition-spelling .rcs-box .rcs-box-value {
  width: 30%;
}

.react-condition-spelling .rcs-box div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}
