@import './iconfont/iconfont.css';

.react-condition-spelling {
    $margin: 0.2rem;
    $padding: 0.4rem;
    $height: calc(1.2rem + 4px);
    .rcs-box {
        box-sizing: border-box;
        * {
            box-sizing: border-box;
            height: $height;
            line-height: $height;
        }

        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: $margin;
        grid-template-columns: 4fr 4fr 5fr 5fr 7fr 4fr 1fr;

        margin-bottom: $margin;
        &:last-child {
            margin-bottom: 0;
        }

        input {
            height: 100%;
            width: 100%;
            vertical-align: top;
        }
        input,
        select {
            padding: 0 $padding;
        }
        .rcs-box-buttons {
            display: inline-flex;
            justify-content: space-around;
            i {
                font-size: 1rem;
                margin: 0 2px;
            }
        }
        span {
            &.rcs-box-door {
                padding: 0 $padding;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
